@{
    ViewData["Title"] = "Home Page";
}

<ul class="navbar-nav px-3 display-4">
    <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">Sign out</a>
    </li>
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UserName đã đăng nhập thành công</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

